<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>

<body>
    <main layout:fragment="content">
        <h1>회원가입</h1>
        <form th:action="@{/signup}" th:object="${signupRequest}" method="post">
            <div>
                <input type="text" th:field="*{username}" placeholder="아이디">
                <span th:errors="*{username}" style="color:red"></span>
            </div>
            <div>
                <input type="password" th:field="*{password}" placeholder="비밀번호">
                <span th:errors="*{password}" style="color:red"></span>
            </div>
            <div>
                <input type="text" th:field="*{nickname}" placeholder="닉네임">
                <span th:errors="*{nickname}" style="color:red"></span>
            </div>
            <button type="submit">가입하기</button>
        </form>
    </main>
</body>

</html>